{
  "presets": ["es2015", "react"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "testing": {
      "presets": []
    }
  },
  "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}